body, html{
	margin-top: 1%;
}

.home-logo{
	float: left;
	overflow: hidden;
	height: 200px;
	width: 200px;
	background: url('../pics/byrd-logo.png') no-repeat;
	background-size: 100%;
}

.nav-container{
	width: 220px;
	overflow: hidden;
	float: left;
	margin: 0 2% 80px 2%;
}

.map-container{
	float: left;
	height: 600px;
	width: 65%;
}

#locations{
	width: 90%;
	margin: 200px auto;
}

.location-link{
	text-decoration: underline;
	color: blue;
	font-size: 3em;
}

.big-nav h2{
	font-size: 0.8em;
}


.big-nav.taste{
	background-position: 25px 15px;
}

.big-nav.contact{
	background-position: 15px 15px;
}

.location-list{
	overflow: hidden;
	width: 30%;
	float: right;
}

.location-list h2{
	font-size: 1.2em;
	text-align: center;
	line-height: 25px;
}

.location-list li p, .location-list li a{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.location-list li{
	width: 80%;
	height: 50px;
	margin: 30px auto;
}


