body, html{
	font-family: landrygo, 'American Typewriter';
	margin-top: 2%;
	padding-bottom: 100px;
	height: 2000px
}

a:link{
	text-decoration: none;
	color:inherit
}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}

h3{
	font-size: 1em;
	text-decoration: none;
}

h2{
	font-size: 3em;
	text-align: center;
	text-decoration: none;
}

.big-byrd-container{
	position: relative;
	width: 80%;
	overflow: hidden;
	margin: 0 auto;
}

.big-byrd-container img{
	max-width: 100%;
	max-height: 450px;
	display: block;
	margin: 0 auto;
}

.nav-container{
	position: fixed;
	top: 0;
	display: block;
	margin: 25px;
	overflow: hidden;
	z-index: 400;
}

.statement{
	width: 70%;
	line-height: 25px;
	margin: 120px auto 50px auto;
	margin-top: 3%;
	text-align: center;
	font-size: 90%;
	opacity: 0.7;
}

.big-nav{
	position: relative;
	display: inline-block;
	float: left;
	background-size: 80%;
	opacity: 0.7;
	margin-right: 20px;
}

.big-nav:hover{
	cursor: pointer;
	opacity: 1;
}

.big-nav h2{
	font-size: 15px;
	margin: 0 0 20px 0;
	text-align: center;
}


.big-nav.contact{
	background: url('../pics/atsign.svg') 25px 25px no-repeat;
	background-size: 75%;
}


.big-nav.taste{
	background: url('../pics/mason-jar-logo.png') 40px 15px no-repeat;
	background-size: 45%;
}


.really-big-byrd{
	width: 80%;
	height: 1200px;
	margin: 0 auto;
	background: url('../pics/byrd-logo.png') no-repeat;
	background-size: 100%;

}

.big-byrd {
	border: none;
	background: url('../pics/byrd-logo.png') no-repeat;
	background-size: 85%;
	width: 75%;
	height: 500px;
	margin: 0 auto;
	display: block;
}

.section-container{
	margin-top: 200px;
	min-height: 400px;
	position: relative;
}


@font-face
{
	font-family: landrygo;
	src: url('../fonts/landrygo.ttf');
}



